@import '../stylesheet/styles/colors';
@import '../stylesheet/styles/breakpoints';

.heading-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: calc(100% - 120px);
    max-width: 1200px;
    margin: -90px auto 0 auto;

    @include md {
        width: calc(100% - 60px);
    }

    @include xxs {
        width: calc(100% - 30px);
    }
}

.page-title {
    margin: 0;
    padding: 30px 20px 0 20px;
    border: 3px solid #F5CE42;
    /* Fallback to yellow if variable fails */
    border-bottom: none;
    flex: 0 0 280px;

    @include lg {
        font-size: 1.6rem;
        flex: 0 0 220px;
        padding: 30px 15px 0 15px;
    }

    @include sm {
        font-size: 1.4rem;
        flex: 0 0 200px;
    }
}

.border-helper {
    border-bottom: 3px solid #F5CE42;
    flex: 1 0 auto;
    height: 1px;
}

.legal-content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 60px;
    font-family: 'SpaceGrotesk-Regular';
    line-height: 1.6;

    h2,
    h3 {
        margin-top: 30px;
        color: #000000;
        /* Use hex instead of variable to be safe */
    }

    p {
        margin-bottom: 15px;
    }

    ul {
        margin-bottom: 20px;
        padding-left: 20px;
    }

    @include md {
        padding: 0 30px;
    }
}