@import '../../../stylesheet/styles/breakpoints';

.about-project-section {
    width: calc(100% - 120px);
    margin: 80px auto;
    max-width: 1200px;

    @include md {
        width: calc(100% - 60px);
        margin: 50px auto;
    }

    @include xxs {
        width: calc(100% - 30px);
    }

    .about-text-editor-container {
        max-width: 70ch;
    }

}

.about-hajany-section {
    width: calc(100% - 120px);
    margin: 60px auto 60px auto; // Reduced from 100px
    max-width: 1200px;

    @include md {
        width: calc(100% - 60px);
    }

    @include sm {
        margin: 50px auto;
    }

    @include xxs {
        width: calc(100% - 30px);
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;

        @include xs {
            font-size: 1.8rem;
        }
    }

    p {
        max-width: 50ch;
        margin-bottom: 30px;
        font-size: 1.1rem;
    }

    .buttons-container-hajany {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        a {
            text-decoration: none;
        }

        button {
            width: fit-content;
            min-width: 320px;
            text-align: left;
            padding: 12px 25px;

            @include xs {
                min-width: 100%;
            }
        }
    }
}

.hajany-imgs-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.5rem;
    margin: 10px 0 0 0;

    @include xs {
        display: flex;
        flex-direction: column;
    }

    .gallery-single-img-wrapper {
        width: 100%;
        height: 100%;
        margin: 0;
        position: relative;
        overflow: hidden;
        aspect-ratio: 16 / 9;

        &:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
            aspect-ratio: auto;
        }

        &:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
            aspect-ratio: auto;
        }

        &:nth-child(3) {
            grid-column: 1 / 3;
            grid-row: 2;
            aspect-ratio: 21 / 9;
        }

        // Mobile override
        @include xs {
            aspect-ratio: auto;
            min-height: 200px;
        }

        &:hover {
            cursor: pointer;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                background: url('../../../assets/img/icons/magnifying_glass_icon.svg') no-repeat,
                    rgba(0, 0, 0, 0.5);
                background-position: center;
                background-size: 40px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &.reverse-layout,
    &.second-reverse-layout {
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: repeat(2, 1fr);

        @include xs {
            display: flex;
            flex-direction: column;
        }

        .gallery-single-img-wrapper {
            aspect-ratio: auto;

            &:nth-child(1) {
                grid-column: 1;
                grid-row: 1 / 3; // Tall one on the left
            }

            &:nth-child(2) {
                grid-column: 2;
                grid-row: 1; // Top right
            }

            &:nth-child(3) {
                grid-column: 2;
                grid-row: 2; // Bottom right
            }
        }
    }
}