@import '../../stylesheet/styles/breakpoints';

.house-choice {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 20px 0;
    justify-content: space-around;
    align-items: center;

    @include md {
        padding: 20px 0;
    }

    .header {
        margin: 12px 0 20px 0;
        text-align: center;

        span {
            @include sm {
                display: block;
            }
        }
    }
}